* {
    box-sizing: border-box;
}
body{
    margin: 0px;
}


.menu-container {
    height: 3rem;
    background-color: lightgrey;
    display:flex;
    align-items: center;
    gap: 1rem;
    padding-left: 0.5rem;
}



.menu-container *{
     /* border: 1px solid;  */
    height: 60%;
    cursor: pointer;
}
.font-size{
    width:5%;

}
.font-family{
    width:21%;
}
.bui-container{
    border: 1px solid;
    min-width:9%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.bui-container>*{
    min-width:20%;
    height:90%;
}
.align-container{
    border: 1px solid;
    min-width:6%;
    justify-content: space-evenly;
}
.color-container{
    min-width:10%;
}
.nos-container{
    border: 1px solid;
    min-width:9%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nos-container>*{
    min-width:10%;
    height:90%;
}


.formula-container {
    height: 2rem;
    /* border: 1px black; */
    /* background-color: lightcoral; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.formula-container >*{
    height: 70%;

}
.address-input{
width: 4rem;
}
.formula-input{
width: calc(100vw - 6rem);
}
.grid-container {
    position:relative;
    border: 1px solid black;
    height: calc(100vh - ( 3rem + 2rem + 2rem));
    background-color: lightgray;
    overflow: auto; 
}
.sheets-container {
    background-color: rgb(166, 212, 241);
    height: 2rem;
    display: flex;
    cursor: pointer;
}
.add-sheet_btn-container {
    width: 3rem;
    border: 1px solid;
    height: 100%;
    padding-top: 0.2rem;
    padding-left: 0.3rem;
    cursor:pointer;
}
.sheet-list {
    width: calc(100vw - 3rem);
    border: 1px solid;
    display: flex;
    overflow: auto;
}
.sheet-list::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .sheet-list {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
.sheet {
    min-width: 5rem;
    border: 1px solid blue;
    height: 100%;
    background-color: gray;
}
.active{
    background-color: white;
}

.active-btn{
    background-color: rgb(100, 99, 99);
}
.box{
    height: 2rem;
    width: 2rem;
    border: 1px solid;
    text-align: center;
    /*overflow: auto;*/
}
.left_box{
    background-color: rgb(165, 159, 159);
}
 .top_row{
    left: 2rem;
    top: 0rem;
    position: absolute;
    height: 2rem;
    /* background-color: green; */
    display: flex;
     /* overflow: auto;*/ 
}

.grid{
     /* height: 2rem;  */
     left: 2rem;
     top: 2rem;
     position: absolute;
    background-color: rgb(192, 223, 233);
    overflow: auto;
}
.cell{
    border: 1px solid;
    min-width: 4rem;
    text-align: center;
    height:2rem; 
}
.row{
    display: flex;
}
